beautifulsoup4     
blinker            
Bootstrap-Flask    
certifi            
charset-normalizer 
click              
colormath          
colorthief         
contourpy          
cycler             
Flask              
fonttools          
idna               
itsdangerous       
Jinja2             
kiwisolver         
lxml               
MarkupSafe         
matplotlib         
networkx           
numpy              
packaging          
pillow             
pip                
pyparsing          
PySide6            
PySide6_Addons     
PySide6_Essentials 
python-dateutil    
requests           
scipy             
shiboken6          
six           
soupsieve          
urllib3            
Werkzeug        
wheel              
wordcloud          
WTForms            

