<!doctype html>
<html lang="en" data-bs-theme="dark">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>CST 205 Project</title>
      {{ bootstrap.load_css() }}
      {{ bootstrap.load_js() }}
      <!-- Loading css stylesheet -->
      <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
      <style>
            body {
            padding: 0 50px;
            }
      </style>
  </head>
<body>
  <h1>About Us!</h1>

  <!-- NAVBAR START -->
  <ul class="nav justify-content-center nav-fill nav-underline">
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('home_page') }}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{{ url_for('about_us') }}">About us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('bird_watch') }}">Bird Watcher</a>
    </li>
  </ul>
  <br>
  <!-- NAVBAR END -->

  <p style="text-align: center;"> This is a project created by Adrian Villalpando, Jocy Cortez-Arellano, Issac Espinoza, Rolando Chagolla-Bonilla for CST-205, Multimedia Design & Programming</p>
  <h3 style="text-align: center;">About out project:</h3>
  <p>Our aim was to create a simple educational site site with three pages, with the main page being an illustrated map of a typical scene in Monterey Bay in which users could click on an environment or animal residing in it to learn more fact about that animal/environment.
     Our secondary page is a live page which uses an API to keep track of bird sightings in the area. 
     Our target audience is anybody who wants to learn more about the environment in Monterey Bay. This is why our descriptions are kept simple and easy to understand, so that anyone can learn simple facts, regardless of where they may reside or their age/previous knowledge of our environment</p>
  <h3 style="text-align: center;">Project Attribution:</h3>
  <p>Adrian Villalpando: </p>
  <p>Worked on setting up the modals to pop up upon clicking an area or animal</p>
  <p>Rolando Chagolla-Bonilla: </p>
  <p>Set up the site for the project and the three pages on it </p>
  <p>Issac Espinoza: </p>
  <p>All parts of the bird watch page, including finding the API, setting it up and getting it to work, and adjusting the html template for it</p>
  <p>Joceline Cortez-Arellano: </p>
  <p>Drew background map & animal sprites, found 2-4 real life images for each animal, collected information and wrote a description for each animal, adjusted the html on the "about_us" page </p>


  <h3 style="text-align: center;">Other Credits:</h3>
  <p>All images are sourced from Wikimedia Commons unless stated otherwise</p>
  <p>Other image sources:  </p>
  <p>
    Pacific Sardine Images sourced from the Monterey Bay Aquarium's official website 
    <a href="https://www.montereybayaquarium.org/animals/animals-a-to-z/pacific-sardine">Image One Source</a>
    <a href="https://www.montereybayaquarium.org/animals/wallpapers/pacific-sardines">Image Two Source</a>
    </p>
  <p>
    Additional brush rabbit image provided by 
    <a href=https://commons.wikimedia.org/wiki/File:Sylvilagus_bachmani_01035t.JPG#file">Walter Siegmund</a> 
  </p>
</body>
</html>